html {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

@font-face {
    font-family: Orkney;
    src: url(fonts/OrkneyRegular.ttf);
}

@font-face {
    font-family: Rex;
    src: url(fonts/Rex-Bold.ttf);
}

body{
    margin: 0;
    padding: 0;
    font-family: Orkney;
    width: 100vw;
    height: 100vh;
    background-color:#151724;
}

header{
    background-color: #040303;
    position: relative;
    top: 0;
    padding: 0.1vh;
    font-family: Rex;
}

header ul{
    color: #064663;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

header ul li{
    font-size: x-large;
    box-sizing: border-box;
    width: 20%;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    padding: 0.5em;
    transition: all 200ms ease;
}

header ul li::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #064663;
    transform: translatex(100%);
    transition: inherit;
}

header ul li.selecionado~li::before{
    transform: translatex(-100%);
}

header ul li.selecionado::before{
    transform: translatex(0);
}

header ul li:hover{
    background-image: linear-gradient(to top, #17181d 0%, #040303 100%);
}

#menu {
    display: none;
}

h1, h2{
    font-family: Rex;
}

h1, h2, h3, .formacao strong{
    color: #064663;
}

p, ul, dl{
    color: #696969;
    font-size: medium;
}

main{
    background-color: #151724;
    height: 100vh;
}

.ola {
    display: flex;
    flex-direction: row;
    text-align: justify;
}

.formacao, .projetos, .hobbies {
    padding: 5vh 7vw;
    text-align: justify;
}

.formacao ul{
    margin: 0;
    padding-left: 3vh;
}

.formacao li, .projetos dd{
    margin: 0.7rem 0;
}

.projetos dl{
    margin: 0;
}

.projetos a:link, a:visited{
    color: #064663;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
}

.projetos a:hover{
    color: #0c78aa;
}

.projetos a:active{
    color: #2bbcff;
}

main section{
    margin: 10vh;
}

#minha-foto{
    height: 40vh;
}

#contatos{
    display: flex;
    justify-content: space-around;
}

#contatos img{
    height: 10vh;
    transition: height 0.5s;
}
/*colocar animaçao*/
#contatos img:hover{
    height: 12vh;
}

@media (max-width: 600px) {
    html{
        overflow-y: auto;
    }

    main{
        height: auto;
    }

    .ola{
        flex-direction: column;
    }

    .ola section {
        margin: 6vw;
    }

    #contatos img{
        height: 7vh;
    }

    #contatos img:hover{
        height: 10vh;
    }

    #minha-foto{
        height: 40vw;
        margin: auto;
        display: block;
    }

    header ul{
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }

    header ul li{
        width: 60%;
    }

    #menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #040303;
        z-index: 90;
        position:relative;
        top: 0;
    }

    #menu h2 {
        margin: 1rem;
        z-index: 100;
    }

    .seta {
        z-index: 100;
        font-size: 0;
        line-height: 0;
        width: 0; 
        height: 0; 
        border:solid transparent;
        margin: 1.5rem;
        border-width: 10px;
        border-top-color: #064663;
        border-bottom-width:0;
    }

    .cima {
        border-width: 10px;
        border-bottom-color: #064663;
        border-top-width:0;
    }

    nav{
        z-index: 5;
        position: absolute;
        top: -22vh;
        transition: top 0.4s ease-in;
        width: 100vw;
        background-color: #040303;
    }

    .expandida{
        top: 3rem;
    }
}

@media (max-height: 770px) {
}